footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

footer div {
    width: 30%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer div h4 {
    font-size: 24px;
}

div h4 a {
    text-decoration: none;
    color: white;
}