@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Dosis:wght@200..800&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libertinus+Serif+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=TASA+Explorer:wght@400..800&display=swap');

#nav3 {
    display: flex;
    align-items: center;  
    padding: 10px 30px;
    background-color: #4e4e4e;
}

#nav3 .logo img {
    height: 80px; 
    width: auto;
}

#nav3 ul {
    display: flex; 
    list-style: none;     
    margin: 0;
    padding: 0;
    margin-left: 30px;   
}

#nav3 ul li {
    margin-left: 20px;
}
#nav3 ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;    
    font-family: Open Sans
}
.cossette-titre-regular {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cossette-titre-bold {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 700;
  font-style: normal;
}
