body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.main-container {
      display: flex;
      /* height: 70vh;  */
    }

aside {
      width: 25%; 
      background-color: #e1e1e1;
      padding: 20px;
    }

section {
      width: 75%;  
      background-color: #f4f4f4;
      padding: 20px;
    }

footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 15px;
    }

.main-container aside p { 
        font-size: 24px;
        width: 100%;        
        margin: 0 0 40px 0;   
        padding: 0;
        font-weight: 400;
        text-align: center;
    }

.main-container aside ul {
        padding-left: 20px;    
        margin: 0; 
        padding-bottom: 40px;  
    }

.main-container aside ul li {
        font-size: 18px; 
        margin-bottom: 50px; 
    }

ul li a { 
        text-decoration: none;
        color: black;
    }

section img { 
        width: 90%;
        float: right;
        height: auto;
    }
section iframe { 
        width: 60%;
        height: 100%;
        float: right;
    }

.poster { 
    width: 400px;
    height: 500px;
    float: left;
}
aside p a { 
  text-decoration: none;
  color: black;
  font-weight: 700;
}

aside ul li a { 
    font-size: 24px;
    font-weight: 400;
}