body { 
    background-color: beige;
    margin: 0;
    text-align: center;
}


h1 {
    background-color: rgb(186, 24, 27); 
    margin: 0;
    text-align: center;
    color: whitesmoke; 
    font-weight: bolder; 
    font-family: "Cossette Titre", sans-serif;
    font-size: 60px;
}

.lakers { 
    background-color: rgb(85, 37, 130); 
    margin: 0;
    text-align: center;
    color: rgb(253, 185, 39); 
    font-weight: bolder; 
    font-family: "Cossette Titre", sans-serif;
    font-size: 60px;
}

h2 { 
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black; 
    margin: 0; 
    text-decoration: none;
}

blockquote { 
    font-size: 26px;
    margin: 30px;
}

span {
    color: rgb(186, 24, 27);
}


#fin {
    color: black; 
    margin-top: 20px; 
    display: inline-block; 
    text-decoration: none;
}


#datos, #datos2 { 
    width: 250px;
    margin: 10px 30px 0 30px;
    text-decoration: none;
}


#datitos {
    max-width: 80%; 
    margin: 50px auto 25px auto;
    font-size: 23px;
    text-align: left;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(191, 215, 234);
}

#datitos .contenido {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
}

#datitos img {
    max-width: 40%; 
    height: auto;  
    object-fit: contain; 
    margin: 0 0 20px 20px;
}


#encabezado_datos { 
    background-color: black; 
    margin: 0; 
    text-align: center;
    color: beige; 
    font-weight: bolder; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

#encabezado_principal { 
    background-color: rgb(186, 24, 27); 
    margin: 0;
    text-align: center;
    color: whitesmoke; 
    font-weight: bolder; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}


#lista { 
    width: 30%; 
    font-size: 30px; 
    font-family: "Cossette Titre", sans-serif;
    font-weight: 300;
    background-color: beige;
}

table { 
    width: 63%; 
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
    text-align: left;background-color: beige; 
    margin: 40px 10px 10x 10px; 
    clear: both;
}

body.datos {
    background-color: transparent;
}



/* 
TIPO DE SELECTORES: 
- TIPO <body> <h1> <p>
- CLASE class="nombre" → .nombre
- ID id="nombre" → #nombre (unico elemento)

JERARQUÍAS = TIPO < CLASE < ID < STYLE (inline tiene máxima prioridad)
*/

